# 忽略 Python 缓存和打包产物
__pycache__/
*.pyc
build/
dist/
*.spec
*.log

# 忽略 Node.js 模块
node_modules/
server/data.db
excel_data.json
test_out.xlsx
test_download.xlsx

# 忽略 IDE 和系统文件
.vscode/
.idea/
.DS_Store
.trae/